.PlayTimes {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    gap: 1em;
}

h3 {
    font-family: 'BigNoodleToo';
    font-style: oblique;
    font-size: 50px;
    font-weight: lighter;
    margin: 0;
    flex-shrink: 0;
}

h4 {
    font-family: 'Futura';
    font-size: 1.5em;
    font-weight: lighter;
}

.charts {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.playtimecontainers {
    display: flex;
    flex-direction: row;
    gap: 1em
}

.labels {
    padding: .2em;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: .5em;
}