@font-face {
  font-family: 'BigNoodleToo';
  src: url('./assets/fonts/BigNoodleToo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BigNoodleToo';
  src: url('./assets/fonts/BigNoodleTooOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/Futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --header-height: 80px;
  --font-primary: 'Futura', sans-serif;
  --font-title: 'BigNoodleToo', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-title);
  font-style: oblique;
  margin: 10px;
}
