@font-face {
  font-family: 'BigNoodleToo';
  src: url('./assets/fonts/BigNoodleToo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BigNoodleToo';
  src: url('./assets/fonts/BigNoodleTooOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/Futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --header-height: 80px;
  --font-primary: 'Futura', sans-serif;
  --font-title: 'BigNoodleToo', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #798db5;
  background: linear-gradient(rgba(121, 141, 181, 1) 0%, rgba(173, 227, 240, 1) 67%, rgba(201, 212, 245, 1) 100%);
}

h1 {
  font-family: var(--font-title);
  font-style: oblique;
  margin: 10px;
}

.StatsBox {
  background-color: #ffffff55;
  border: 2px solid #ffffee;
  border-radius: 1em;
  padding: 1em;
  box-sizing: border-box;
}